{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "safari 7"]
        }
      }
    ],
    "react", "stage-1"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}